.home {
    color: white;
    padding-top: 12em;
    background-image: url(../img/background.png);
}

.home-content {

    &__logo-link {
        // position: sticky;
        // position: -webkit-sticky;
        // top:0.5em;
        margin-bottom: 2em;
        display: inline-block;
    }

    &__logo-image {}

    &__heading {
        margin-bottom: 1.5em;
        font-size: 70px;
        font-family: "Reey";
    }

    &__sub-heading {
        margin-bottom: 3em;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 6px;
        font-style: italic;
    }

    &__button {
        height: 3em;
        margin-bottom: 1em;
        padding: 0 1.5em;
        font-size: 18px;
        font-weight: 800;
        text-transform: uppercase;
        border-radius: 1em;
    }

    &__description {
        font-size: 15px;
        font-style: italic;
    }
}

.home-images {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 11em;

    &__main-dish {}

    &__second-dish {
        bottom: 0;
        left: -5em;
        position: absolute;
    }

    &__leafs {
        bottom: -8em;
        right: -3em;
        position: absolute;
    }
}

.menu {

    &__heading {
        font-family: "Reey";
        font-size: 65px;
        text-align: center;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    &__description {
        margin-bottom: 4em !important;
        margin: 0 25%;
        font-size: 22px;
        text-align: center;
        color: #2f3135;
    }

    &__button {
        font-size: 17px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 4px;
        border-radius: 2em;
        background-color: #343434;
        color: white;
        padding: 0.85em 3em;
        margin-top: 5em !important;
        margin: 2em auto;
    }
}

.menu-cards {}

.menu-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__image {
        width: 80%
    }

    &__heading {
        width: 60%;
        font-size: 21px;
        font-weight: 700;
    }

    &__description {
        width: 80%;
        margin-left: 20%;
        font-size: 17px;
    }
}

.info {
    font-family: 'Montserrat', sans-serif;
    background-color: #27292c;
    color: white;
    padding: 4em 15%;

    &__heading {
        margin-bottom: 1em;
        font-size: 65px;
        font-family: "Reey";
        text-align: center;
    }

    &__blocks {}

    &__block {}

    &__button {
        margin: 0 auto;
        padding: 0.5em 2.5em;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 1em;
        border: none;
        background-color: #e9e9e9;
        color: #27292c;
    }
}

.advantages {
    padding-top: 3.5em;
}

.advantage-card {

    &__image {}

    &__content {}

    &__heading {
        font-size: 41px;
        font-weight: 700;
    }

    &__description {
        font-size: 22px;
    }

    &__button {
        padding: 0.5em 2em;
        font-size: 21px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 4px;
        border-radius: 2em;
        background-color: #27292c;
        color: white;
    }
}

.pizza {
    padding-bottom: 35em !important;
    padding: 10em 0;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    color: white;

    &__heading {
        font-size: 60px;
        font-family: "Reey";
        text-align: center;
        margin-bottom: 1em;
    }

    &__description {
        padding: 0 25%;
        font-size: 18px;
        text-align: center;
    }

    &__divider {
        width: 10em;
        height: 10px;
        background-color: white;
        margin-bottom: 5em;
    }

    &__images {}

    &__pizza {
        min-width: 450px;
        max-width: calc(1440px * 0.5);
        width: 50vw;
        left: 40%;
        bottom: -7.5em;
        position: absolute;
        transform: translateX(-25%);
    }

    &__pizza-piece {
        min-width: 450px*0.6;
        max-width: calc(1440px * 0.3);
        width: 30vw;
        left: 40%;
        bottom: -9em;
        position: absolute;
        transform: translateX(-75%);
    }

    &__leafs {
        max-width: 1440px;
        width: 100vw;
        top: -10em;
        left: -2em;
        position: absolute;
    }
}

.about {
    padding: 7.5em 10%;

    &__description {
        padding: 0 15%;
        margin-bottom: 2em;
        font-size: 17px;
        font-weight: 600;
        text-align: center;
    }

    &__sub-description {
        font-weight: 700;
        text-align: center;
    }
}

.about-cards {
    margin-bottom: 10em;
}

.about-card {

    &__heading {
        font-family: "Reey";
        margin-bottom: 1em;
    }

    &__description {}
}

.subscription {
    padding: 15em;
    position: relative;
    background-color: #27292c;
    color: white;

    &__heading {
        font-size: 54px;
        font-weight: 700;
        text-align: center;
    }

    &__description {
        margin: 2em 0;
        font-size: 22px;
        text-align: center;
    }

    &__form {
        position: relative;
    }

    &__email {
        width: calc(100% - 1em);
        padding-left: 1.5em;
        height: 4em;
        border-radius: 2em;
    }

    &__submit {
        padding: 0 2em;
        height: 4em;
        right: 0.5em;
        position: absolute;
        // font-size:20px;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 2em;
        background-color: #54524f;
        color: white;
    }

    &__leafs {
        max-width: 1440px;
        width: 100vw;
        top: -2.5em;
        left: -2.5em;
        // left:-2em;
        // transform:translate(-50%,-50%);  
        position: absolute;
    }
}

@media(max-width:1024px) {
    .home-content__description{
        text-align:center;
    }
    .pizza {
        padding-bottom: 25em !important;

        &__pizza-piece {
            bottom: -5.5em !important;
        }

        &__pizza {
            bottom: -4em !important;
        }
    }

    .advantage-card * {
        margin-bottom: 1em;
    }

    .home-content__button, .home-content__logo-link, .advantage-card__button {
        transform: translateX(-50%) !important;
        margin-left: 50% !important;
    }

    .about-cards {
        margin-bottom: 5em !important;
    }

    .about-card__description {
        padding: 0 20% !important;
    }

    .subscription {
        padding-top: 10em !important;
        padding-bottom: 5em !important;

        &__leafs {
            // top: -4em !important;
            left: -1em !important;
        }
    }
}